{% extends 'base.html' %}

{% block head %}
<title>About Bookworm DB</title>
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>About Bookworm DB</h1>
        <p>Some nice bs about how this DB is the premier solution for getting your book information</p>
    </div>
    <div class="container-fluid">
        <h2>Meet the Team</h2>
        <h2>Data Sources</h2>
        <h2>Website Stack</h2>
        <a class="btn btn-primary" href="https://github.com/UT-SWLab/TeamE4">GitHub Link</a>
    </div>
{% endblock %}