{% extends 'base.html' %}

{% block head %}
<title>{{ author['name'] }}</title>
<style>
    p{
        font-family:lucinda
    }

</style>

{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-2 py-1">
                <img src="{{ author['thumbnail'] }}" class="img-fluid ">
            </div>
            <div class="col-sm-8 py-2">
                <h1 style="font-family:sans=serif;"><strong>{{ author['name'] }}</strong></h1>
                <h1 style="font-family:sans=serif;"><strong>{{ author['age'] }}</strong></h1>
                <h1 style="font-family:sans=serif;"><strong>{{ author['hometown'] }}</strong></h1>
                <p class ="m-0"><strong>Born: </strong>{{ author['dob'] }}</p>
                {% if author['dod'] %}
                    <p><strong> Died: </strong>{{ author['dod'] }}</p>
                {% endif %}
                <p> {{ author['biography'] }}</p>
                <h4 style="font-family:sans=serif;">Other Books by {{ author['name'] }}:
                    {% for book in author['books'] %}
                        <a href="/books/{{ book['_id'] }}" class="stretched-link">{{ book['name'] }}</a>
                    {% endfor %}
                </h4>
                <h4 style="font-family:sans=serif;">Publishers:
                    {% for publisher in author['publishers'] %}
                        <a href="/publishers/{{ publisher['_id'] }}" class="stretched-link">{{ publisher['name'] }}</a>
                    {% endfor %}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>placeholder for authors social network feed</h1>
            </div>
        </div>
    </div>
{% endblock %}