{% extends 'base.html' %}

{% block head %}
<title>All Authors</title>
<style>
    .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
</style>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4">
        <h1>All Authors</h1>
        <h6 id="entriesText">Showing entries {{ pageNumber * perPage + 1 }}-{{ pageNumber * perPage + perPage }}</h6>
    </div>
    <div class="container-fluid d-flex pl-4 pr-4">
        <div class="dropdown mr-auto">
            Show
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">10
            <span class="caret"></span></button>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="#">10</a>
                <a class="dropdown-item" href="#">25</a>
                <a class="dropdown-item" href="#">50</a>
            </div>
            items per page
        </div>
        <div class="dropdown ml-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Sort by: Default
            <span class="caret"></span></button>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="/authors">Default</a>
                <a class="dropdown-item" hrefgit ="#">Name</a>
                <a class="dropdown-item" href="#">Age</a>
                <a class="dropdown-item" href="#">Hometown</a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-4">
        <nav>
          <ul class="pagination justify-content-center pagination-sm">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" id="prevPage" href="#"><i class="fas fa-angle-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" id="prevPage" href="/authors?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(0, 4) if not p > numPages %}
                <li class="page-item">
                  <a class="page-link" href="/authors?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              <li class="page-item">
                    <a class="page-link" href="">...</a>
              </li>

              {% if pageNumber > 3 and pageNumber < numPages - 3 %}
              <li class="page-item">
                    <a class="page-link" href="/authors?pageNumber={{ pageNumber }}&perPage={{ perPage }}">{{ pageNumber+1 }}</a>
              </li>
              <li class="page-item">
                    <a class="page-link" href="">...</a>
              </li>
              {% endif %}

              {% for p in range(numPages - 3, numPages + 1) if not p > numPages %}
                <li class="page-item">
                  <a class="page-link" href="/authors?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages %}
                <li class="page-item disabled"><a class="page-link" id="nextPage" href="#"><i class="fas fa-angle-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" id="nextPage" href="/authors?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <div class="row">
            {% for author in authors %}
                <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ author['thumbnail_url'] }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ author['name'] }}</h4>
                            <h5 class="card-text">Age: {{ author['age'] }}</h5>
                            <p class="card-text">{{ author['hometown'] }}</p>
                            <a href="/authors/{{ author['_id'] }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav>
          <ul class="pagination justify-content-center pagination-sm">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/authors?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(0, 4) if not p > numPages %}
                <li class="page-item">
                  <a class="page-link" href="/authors?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              <li class="page-item">
                    <a class="page-link" href="">...</a>
              </li>

              {% if pageNumber > 3 and pageNumber < numPages - 3 %}
              <li class="page-item">
                    <a class="page-link" href="/authors?pageNumber={{ pageNumber }}&perPage={{ perPage }}">{{ pageNumber+1 }}</a>
              </li>
              <li class="page-item">
                    <a class="page-link" href="">...</a>
              </li>
              {% endif %}

              {% for p in range(numPages - 3, numPages + 1) if not p > numPages %}
                <li class="page-item">
                  <a class="page-link" href="/authors?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/authors?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
    </div>
{% endblock %}