{% extends 'base.html' %}

{% block head %}
<title>{{ book['title'] }}</title>
<style>
    p{
        font-family:lucinda
    }

</style>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-3 py-2">
                <img src="{{ book['thumbnail'] }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-8 py-2">
                <h1 style="font-family:sans=serif;"><strong>{{ book['title'] }}</strong></h1>
                <h4 style="font-family:sans=serif;">by
                    {% for author in book['authors'] %}
                        <a href="/authors/{{ author['_id'] }}" class="stretched-link">{{ author['name'] }}</a>
                    {% endfor %}
                </h4>
                <h6 style="font-family:sans=serif;">
                    {% for publisher in book['publishers'] %}
                        <a href="/publishers/{{ publisher['_id'] }}" class="stretched-link">{{ publisher['name'] }}</a>
                    {% endfor %}
                </h6>
                <p>{{ book['description'] }}</p>
                <p class ="m-0"><strong>Maturity: </strong>{{ book['contentRating'] }} </p>
                <p class="m-0"><strong>Page Count: </strong>{{ book['pageCount'] }}</p>
                <p class="m-0"><strong>Publishing Date: </strong>{{ book['publishingDate'] }}</p>
                <p class="m-0"><strong>Genre: </strong>{{ book['genre'] }} | <strong>ISBN-13: </strong>{{ book['isbn13'] }}</p>

            </div>
        </div>
    </div>
{% endblock %}