{% extends 'base.html' %}

{% block head %}
<title>{{ book['title'] }}</title>
<style>
    p{
        font-family:lucinda
    }

</style>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-3 py-2">
                <img src="{{ book['thumbnail_url'] }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-8 py-2">
                <h1 style="font-family:sans=serif;"><strong>{{ book['title'] }}</strong></h1>
                <h4 style="font-family:sans=serif;">by {{ book['author'] }}</h4>
                <p>{{ book['description'] }}</p>
                <p class ="m-0"><strong>Maturity: </strong>{{ book['maturity'] }} </p>
                <p class ="m-0"><strong>Language: </strong>{{ book['lang'] }} </p>
                <p class="m-0"><strong>Page Count: </strong>{{ book['page_count'] }}</p>
                <p class="m-0"><strong>Publisher: </strong>{{ book['publisher'] }}, {{ book['published_date'] }}</p>
                <p class="m-0"><strong>Genre: </strong>{{ book['genre'] }} | <strong>ISBN-13: </strong>{{ book['isbn13'] }}</p>

            </div>
        </div>
    </div>
{% endblock %}