{% extends 'base.html' %}

{% block head %}
<title>All Books</title>
<style>
.card-img-top {
width: 100%;
height: 55vh;
object-fit: cover;
}
</style>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            {% for book in books %}
                <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ book['thumbnail_url'] }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ book['title'] }}</h4>
                            <h5 class="card-text">
                                {% for author in book['authors'] %}
                                    {{ author }}
                                {% endfor %}
                            </h5>
                            <p class="card-text">{{ " ".join(book['genre'].split('-')) }}</p>
                            <a href="/books/{{ book['_id'] }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}