{% extends 'base.html' %}

{% block head %}
<title>All Books</title>
<style>
.card-img-top {
width: 100%;
height: 55vh;
object-fit: cover;
}
</style>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/books?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(numPages) %}
                <li class="page-item">
                  <a class="page-link" href="/books?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages - 1 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/books?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <div class="row">
            {% for book in books %}
                <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ book['thumbnail_url'] }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ book['title'] }}</h4>
                            <h5 class="card-text">
                                {% for author in book['authors'] %}
                                    {{ author }}
                                {% endfor %}
                            </h5>
                            <p class="card-text">{{ " ".join(book['genre'].split('-')) }}</p>
                            <a href="/books/{{ book['_id'] }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/books?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(numPages) %}
                <li class="page-item">
                  <a class="page-link" href="/books?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages - 1 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/books?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
    </div>
{% endblock %}