{% extends 'base.html' %}

{% block head %}
<title>{{ publisher['name'] }}</title>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-3 py-2">
                <img src="{{ url_for('static', filename= 'Knopf.png') }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-8 py-2">
                <h1>{{ publisher['name'] }}</h1>
                <h4>{{ publisher['location'] }}</h4>
                <p>{{ publisher['description']}}</p>
            </div>
        </div>
    </div>
{% endblock %}