{% extends 'base.html' %}

{% block head %}
<title>{{ publisher['name'] }}</title>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-3 py-2">
                <img src="{{ publisher['logo'] }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-8 py-2">
                <h1>{{ publisher['name'] }}</h1>
                <h4>{{ publisher['location'] }}</h4>
                <p>{{ publisher['description']}}</p>
                <h4 class="position-relative">Authors Published:
                    {% for author in authorList %}
                        <a href="/authors/{{ author['id'] }}" class="position-relative stretched-link">{{ author['name'] }}</a>
                    {% endfor %}
                </h4>
                <h4 class="position-relative">Books Published
                    {% for book in bookList %}
                       <a href="/books/{{ book['id'] }}" class="position-relative stretched-link">{{ book['name'] }}</a>
                    {% endfor %}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>placeholder for google maps embed</h1>
            </div>
        </div>
    </div>
{% endblock %}