{% extends 'base.html' %}

{% block head %}
<title>All Publishers</title>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <nav>
          <ul class="pagination justify-content-center pagination-sm">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/publishers?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(numPages) %}
                <li class="page-item">
                  <a class="page-link" href="/publishers?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages - 1 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/publishers?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <div class="row">
            {% for publisher in publishers %}
                <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ publisher['logo'] }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ publisher['name'] }}</h4>
                            <h5 class="card-text">{{ publisher['hq_location'] }}</h5>
                            <p class="card-text">Established {{ publisher['estYear'] }}</p>
                            <a href="/publishers/{{ publisher['_id'] }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav>
          <ul class="pagination justify-content-center pagination-sm">
              {% if pageNumber == 0 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/publishers?pageNumber={{ pageNumber - 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
              {% endif %}

              {% for p in range(numPages) %}
                <li class="page-item">
                  <a class="page-link" href="/publishers?pageNumber={{ p }}&perPage={{ perPage }}">{{ p+1 }}</a>
                </li>
              {% endfor %}

              {% if pageNumber == numPages - 1 %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="/publishers?pageNumber={{ pageNumber + 1 }}&perPage={{ perPage }}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
              {% endif %}
          </ul>
        </nav>
    </div>
{% endblock %}