{% extends 'base.html' %}

{% block head %}
<title>{{ publisher['name'] }}</title>
{% endblock %}
{% block body %}
    <div class="container-fluid p-4" id="team-info">
        <div class="row">
            <div class="col-sm-4 col-xl-3 py-2">
                <img src="{{ publisher['logo'] }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-8 py-2">
                <h1><strong>{{ publisher['name'] }}</strong></h1>
                <h4>{{ publisher['hqLocation'] }}</h4>
                <p>{{ publisher['description']|safe }}</p>
                <h4 class="position-relative">Authors Published:
                    {% for author in publisher['authors'] %}
                        <a href="/authors/{{ author['id'] }}" class="position-relative stretched-link">{{ author['name'].strip() }}</a>
                        {%- if not loop.last -%}
                            ,
                        {% endif %}
                    {% endfor %}
                </h4>
                <h4 class="position-relative">Books Published:
                    {% for book in publisher['books'] %}
                       <a href="/books/{{ book['id'] }}" class="position-relative stretched-link">{{ book['name'] }}</a>
                       {%- if not loop.last -%}
                           ,
                       {% endif %}
                    {% endfor %}
                </h4>
            </div>
        </div>
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Interactive Google Maps Embed</h3>
                    <div class="container"  style="background-color:black;opacity:0.25"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
                </div>
                <!--- Breakdown of genres published --->
            </div>
        </div>
    </div>
{% endblock %}